.view__cart{
    color: var(--white);
    background-color: var(--quaternary);
   height: 60px;
   width: 60px;
   border-radius: 50%;
   position: fixed;
    bottom: 5%;
    left: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: larger;
    z-index: 2;
  
   
}
.showlength{
position: absolute;
color: var(--white);
right: -1px;
top: -10px;
font-size: 19px;
font-weight: 800;
background-color: red;

border-radius: 50%;
height: 30px;
width: 30px;

}
